 @model FeedbackApp.Models.Survey
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col">
        <h2>Surveys</h2>
        <h4>To add a new survey give it a title and description.</h4>
        <form method="post" asp-action="CreateSurvey">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark">Create a new survey</button>
        </form>
    </div>
</div>
